$grey: #eef2ff;
$white: #fff;
$cyan: #cffafe;

$h-screen: 100vh;
$bg-gradient-stops: $grey, $white, $cyan;
$shadow-sm: 0 5px 10px rgb(0 0 0 / 12%);
$shadow-md: 2px 4px 13px 2px rgb(0 191 182 / 29%);
$shadow-lg: #767676 4px -5px 12px 0px;